body {

    background-color: black;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

footer a {

    background-color: white;
}


.linea {
    border: 1px solid;
    color: rgb(0, 255, 255);
}

@media (max-width: 576px) {

    .quienesSomos {
        display: none;
    }
}